ul {
    background-color: #333;
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    width: 100%;
}

li {
    display: inline;
    margin: 10px;
    padding: 20px;
    color: white;
}

li:hover {
    background-color: #04AA6D;
}

.wide {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.mContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}